<style type="text/css"> 
#Ribbon\.ContextualTabs\.Timesheet\.Home\.Sheet\.SubmitMenu-Large {display:none !important;} 
td.ms-addnew {display:none !important;}

/* 
#Ribbon\.ContextualTabs\.Timesheet\.Home\.Sheet-LargeLarge-0 {display:none !important;}
#Ribbon\.ContextualTabs\.Timesheet\.Home\.Sheet\.SubmitMenu\.Menu\.SubmitSection\.SubmitSelection-Menu32 {display:none !important;}
other possible IDs that could be utilized later 
*/

</style>