/* hide recently modified */
.s4-recentchanges {
	display: none;
}
/* banner */
#s3slider {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 3px double #CCCCCC;
	height: 150px;
	margin-bottom: 25px;
	margin-top: 0;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#s3sliderContent {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 300px;
	list-style: none outside none;
	margin-left: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: -14px;
	width: 1024px;
}
.s3sliderImage {
	float: left;
	position: relative;
	width: 1024px;
}
.s3sliderImage span {
	background-color: #000;
	color: #2b536b;
	display: none;
	font-size: 12px;
	height: 300px;
	line-height: 16px;
	overflow: hidden;
	padding: 10px 13px;
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
}
.s3sliderImage strong a {
	color: #2b536b;
	font-family: 'Myriad Pro',Helvetica,Verdana,Sans-Serif;
	font-size: 20px;
}
.s3sliderImage strong a:hover {
	color: #2b536b;
}
#Label1 h2 {
	display: none;
}
.fp-slider {
	background: none repeat scroll 0 0 #3b4f81;
	height: 180px;
	margin: 0 0 17px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 1024px;
}
.fp-slides-container {
}
.fp-slides, .fp-thumbnail, .fp-prev-next, .fp-nav {
	width: 1024px;
}
.fp-slides, .fp-thumbnail {
	height: 150px;
	margin-left: 10px;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}
.fp-title {
	color: #fff;
	font: bold 16pt Verdana,Helvetica,Sans-serif;
	margin: 0;
	padding: 0 0 0 2px;
}
.fp-title a {
	font: bold 14pt Verdana,Helvetica,Sans-serif;
	color: #fff;
	text-decoration: none;
}
.fp-title a:hover {
	color: #fff;
	//text-decoration: none;
}
.fp-content {
	//background: none repeat scroll 0 0 #f2f2f2;
	bottom: 50px;
	left: 720px;
	overflow: hidden;
	padding: 10px 15px;
	position: absolute;
	width: 250px;
	color: #fff;
	font: 11pt Verdana;
}
.fp-content p {
	color: #fff;
	line-height: 18px;
	margin: 0;
	padding: 0;
	font: 11pt Verdana;
}
.fp-more, .fp-more:hover {
	color: #fff;
	font-weight: bold;
}
.fp-nav {
	height: 12px;
	margin-left: 12px;
	padding: 5px 0 5px 0;
	text-align: center;
}
.fp-pager a {
	background-image: url("http://teamsites.adm.com/sites/oneadm/1ADM/SiteAssets/pages.png");
	background-position: 0 0;
	cursor: pointer;
	display: inline-block;
	float: none;
	height: 13px;
	width: 14px;
	line-height: 1;
	margin: 0 8px 0 0;
	overflow: hidden;
	padding: 0;
	text-indent: -999px;
}
.fp-pager a:hover, .fp-pager a.activeSlide {
	background-position: 0 -96px;
	text-decoration: none;
}
.fp-prev-next-wrap {
	position: relative;
	z-index: 150;
}
.fp-prev-next {
	bottom: 130px;
	height: 37px;
	left: 0;
	position: absolute;
	right: 0;
}
.fp-prev {
	background: url("http://teamsites.adm.com/sites/oneadm/1ADM/SiteAssets/prev.png") no-repeat scroll left top transparent;
	float: left;
	height: 50px;
	margin-left: 10px;
	margin-top: -260px;
	width: 53px;
}
.fp-prev:hover {
}
.fp-next {
	background: url("http://teamsites.adm.com/sites/oneadm/1ADM/SiteAssets/next.png") no-repeat scroll right top transparent;
	float: right;
	height: 50px;
	margin-right: 10px;
	margin-top: -260px;
	width: 53px;
}
.fp-next:hover {
}
div.jump-link {
	background: none repeat scroll 0 0 #F1EAD4;
	border: 1px solid #D2CCBB;
	font-size: 11pt;
	margin-left: 510px;
	padding: 3px;
}

/* newsfeed format */
.ms-vb a, .ms-vb a:hover {
color: #676767;
}
/* spotlight format */
#spotlight {
padding: 0;
margin: 0;
}
.ms-stylelabel {
display: none;
}
.ms-stylebox {
width: 100%;
padding: 0;
margin: 0;	
}

/* Formatting for page content */
.tcontent {
color: #676767;
width: 1024px;
font-size: 10pt;
font-family: Verdana;
}
.tcontent a {
color: #676767;
text-decoration: underline;
}
.tcontent a:visited, .tcontent a:link {
color: #676767;
text-decoration: underline;
}
.tcontent a:hover {
color: #676767;
text-decoration: underline;
font-style: italic;
}
.tcontent a:active {
color: #676767;
text-decoration: underline;
}
.tcontent h3 {
margin: -5px -10px 7px -10px;
text-align: center;
color: #fff;
background-color: #a6a6a6;
line-height: 30px;
}
.tcontent h4 {
text-align: center;
font-size: 14pt;
}
.tcontent h2 {
text-align: center;
}
.tcontent td {
/* wire frame */
/*border: 1px solid #d9d9d9;*/
font-size: 11pt;
vertical-align: middle;
}
.tcontent img {
border: none;
padding: 5px 0 0 3px;
}
ul.listed {
    list-style-type: circle;
}